
  
  @media only screen and (max-width: 640px){
    .shoppingCartDisplay{
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: linear-gradient(0deg, rgba(82,14,63,1) 0%, rgba(21,24,102,1) 100%);
      height: 100vh;
      width: 100vw;
      overflow: auto;
    }

    .shoppingCartContainer{
      margin-top: 30%;
    }
    .starsPlaceholder{
      height: 100%;
      width: 100vw;
      background-image: url('../../assets/images/stars.webp');
      background-size:contain;
      background-position: center;
      background-repeat:round;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menuContainer{
      width: 100%;
    }

    .menuContainer > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h2{
      color: #edfa61;
      text-shadow: 2px 2px 5px rgba(82,14,63,1);
    }

    .shopButton{

      background-color: rgba(82,14,63,1);
      padding: 5%;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      box-shadow: 
      0 0 8px 4px #fff,  /* inner white */
      0 0 12px 8px #fa0, 
      0 0 18px 10px #ff6a00; 
    }
    

  
  .shoppingCartCard{
      background-color: white;
      color: var(--dark-text);
      margin: 2%;
      width: fit-content;
      height: fit-content;
      border-radius: 32px;
    }
  
  .shoppingCartCardInfo{
      margin-left: 2%;
    }
     
  .shoppingCartCardImg {
      height: 400px;
      width: 280px;
      border-radius: 32px 32px 0 0;
    }
    
  .shoppingCartCardBottomContainer{
      display: flex;
      justify-content: space-between;
    }
    
  .removeFromCart{
      color: var(--dark-text);
      border-radius: 40%;
      background-color: transparent;
    }
    
  .checkoutBtn{
      position: absolute;
      height: 80px;
      background: var(--orange-gradient);
      right: 1%;
      bottom: 1%;
    }
  }

  @media only screen and (min-width: 641px){
    .shoppingCartDisplay{

      gap: 10px;
      background: linear-gradient(0deg, rgba(82,14,63,1) 0%, rgba(21,24,102,1) 100%);
      height: 100vh;
      width: 100vw;
      overflow: auto;
    }

    .shoppingCartContainer{
      margin-top: 10%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .starsPlaceholder{
      height: 100%;
      width: 100vw;
      background-image: url('../../assets/images/stars.webp');
      background-size:contain;
      background-position: center;
      background-repeat:round;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menuContainer{
      width: 100%;
    }

    .menuContainer > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h2{
      color: #edfa61;
      text-shadow: 2px 2px 5px rgba(82,14,63,1);
    }

    .shopButton{

      background-color: rgba(82,14,63,1);
      width: 150px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      box-shadow: 
      0 0 8px 4px #fff,  /* inner white */
      0 0 12px 8px #fa0, 
      0 0 18px 10px #ff6a00; 
    }
    

  
  .shoppingCartCard{
      background-color: white;
      color: var(--dark-text);
      margin: 2%;
      width: fit-content;
      height: fit-content;
      border-radius: 32px;
    }
  
  .shoppingCartCardInfo{
      margin-left: 2%;
    }
     
  .shoppingCartCardImg {
      height: 400px;
      width: 280px;
      border-radius: 32px 32px 0 0;
    }
    
  .shoppingCartCardBottomContainer{
      display: flex;
      justify-content: space-between;
    }
    
  .removeFromCart{
      color: var(--dark-text);
      border-radius: 40%;
      background-color: transparent;
    }
    
  .checkoutBtn{
      position: absolute;
      height: 80px;
      background: var(--orange-gradient);
      right: 1%;
      bottom: 1%;
    }
  }

  @media only screen and (min-width: 1025px){
    .shoppingCartDisplay{

      gap: 10px;
      background: linear-gradient(0deg, rgba(82,14,63,1) 0%, rgba(21,24,102,1) 100%);
      height: 100vh;
      width: 100vw;
      overflow: auto;
    }

    .shoppingCartContainer{
      margin-top: 10%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .starsPlaceholder{
      height: 100%;
      width: 100vw;
      background-image: url('../../assets/images/stars.webp');
      background-size:contain;
      background-position: center;
      background-repeat:round;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menuContainer{
      width: 100%;
    }

    .menuContainer > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h2{
      color: #edfa61;
      text-shadow: 2px 2px 5px rgba(82,14,63,1);
      font-size: 4rem;
    }

    .shopButton{

      background-color: rgba(82,14,63,1);
      width: 10%;
      height: 5vh;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      box-shadow: 
      0 0 8px 4px #fff,  /* inner white */
      0 0 12px 8px #fa0, 
      0 0 18px 10px #ff6a00; 
    }
    

  
  .shoppingCartCard{
      background-color: white;
      color: var(--dark-text);
      margin: 2%;
      width: fit-content;
      height: fit-content;
      border-radius: 32px;
    }
  
  .shoppingCartCardInfo{
      margin-left: 2%;
    }
     
  .shoppingCartCardImg {
      height: 400px;
      width: 280px;
      border-radius: 32px 32px 0 0;
    }
    
  .shoppingCartCardBottomContainer{
      display: flex;
      justify-content: space-between;
    }
    
  .removeFromCart{
      color: var(--dark-text);
      border-radius: 40%;
      background-color: transparent;
    }
    
  .checkoutBtn{
      position: absolute;
      height: 80px;
      background: var(--orange-gradient);
      right: 1%;
      bottom: 1%;
    }
  }

