#root{
  --black-transparent: rgba(0,0,0,0.5);
  --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
  --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
  --dark-text: #212427;
  --glass-style: {
      background-color: transparent;
      backdrop-filter: blur(20px);
      background-image: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0.3),
          rgba(0,0,0, 0.2)
          );
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 16px;
      padding: 1%;
  };
}

@media only screen and (max-width: 640px) {
  .userContainer {
    padding-top: 30%;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AFEEEE;
  }


  .userCard {
   
    width: 100vw;
    height: 30vh;
    left: 0;
    margin: 0;
    background-color: darkslategray;
    display: flex;
    justify-content: space-around ;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.2)
  }

  .userImg{
    border-radius: 15px;
  }

  .cardRight{
    display: flex;
    flex-direction: column;
  }

  .logoutBtn{
    grid-column: 2;
    gap: 0;
    background: var(--orange-gradient);
  }
}
