#root{
    --black-transparent: rgba(0,0,0,0.5);
    --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
    --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
    --dark-text: #212427;
  }

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.formContainer{
    background-color: transparent;
        backdrop-filter: blur(20px);
        background-image: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.3),
            rgba(0,0,0, 0.2)
            );
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        padding: 1%;
        margin-top: 10%;
    height: 75vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    margin-top: 0;
}

.info{
    display: flex;
}

.inputsContainer{
    width: 60%;
}



.formGroup{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.termsContainer{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}