


.animationText{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0 40px;
    color: #F896D8;
}


@media only screen and (max-width: 640px){
    .homeContainer{
        background-image: url('../../assets/background.png');
        background-size: cover;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .animationText{
       margin-left: 2%;
    }

      .topUL{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40%;
        margin-right: 5%;
        gap: 10%;
        height: 100%;
    }
    
    .linkLI{
        background-color: white;
        width: 200px;
        height: 50px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
}