#root {
    --black-transparent: rgba(0,0,0,0.5);
    --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
    --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
    --dark-text: #212427;
    --glass-style: {
      background-color: transparent;
      backdrop-filter: blur(20px);
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.3),
        rgba(0,0,0, 0.2)
      );
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 16px;
      padding: 1%;
    };
  }

  
  @media only screen and (max-width: 640px) {
    .eventsContainer {
      width: 100vw;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      }

    .event{
      margin: 1%;
    }
  
    .eventList {
      width: 100vw;
      height: 50%;
      margin: 0;
      left: 0;
      border-radius: 0;
      background-color: darkslategray;
    }

    .topContainer{
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
    }
  
    .buttonsContainer {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
    }
  
    .acceptButton {
      padding: 10px;
      background: var(--green-gradient);
    }

    .separator{
      width: 90%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 2% auto;
  }

  
  }
  
  @media only screen and (min-width: 641px){
    .eventsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2%;
      margin-right: 2%;
      padding: 0;
      }

    .eventList {
      border-radius: 16px;
      height: 100%;
      background-color: darkslategray;
      border: 2px solid rgba(255, 255, 255, 0.3);

    }

    .event{
      padding: 1%;
    }

    .topContainer{
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
      color: #edfa61;
            text-shadow: 2px 2px 5px rgba(82,14,63,1);
    }
  
    .buttonsContainer {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
    }
  
    .acceptButton {
      padding: 10px;
      background: var(--green-gradient);
    }

    .separator{
      width: 90%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 2% auto;
  }

  }

  @media only screen and (min-width: 1025px){
    .eventsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2%;
      margin-right: 2%;
      padding: 0;
      width: 95%;
      }

    .eventList {
      border-radius: 16px;
      height: 100%;
      background-color: darkslategray;
      border: 2px solid rgba(255, 255, 255, 0.3);

    }

    .event{
      padding: 1%;
      font-size: 3rem;
    }

    .topContainer{
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
      color: #edfa61;
            text-shadow: 2px 2px 5px rgba(82,14,63,1);
    }
  
    .buttonsContainer {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
    }
  
    .acceptButton {
      padding: 10px;
      background: var(--green-gradient);
    }

    .separator{
      width: 90%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 2% auto;
  }
  }