#root{
    --black-transparent: rgba(0,0,0,0.5);
    --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
    --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
    --dark-text: #212427;
    --glass-style: {
        background-color: transparent;
        backdrop-filter: blur(20px);
        background-image: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.3),
            rgba(0,0,0, 0.2)
            );
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        padding: 1%;
    };
  }


@media only screen and (max-width: 640px) {
    .favoritesContainer {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    .display{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .bookContainer{
      display: flex;
      flex-direction: row;
      margin: 1%;
    }

    .bookImageContainer{
      height: 240px;
      width: 160px;
      
    }

    .bookImage{
      height: 240px;
      width: 160px;
      border-radius: 16px;
    }

    .rightContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .bookInfoContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .favoritesList {
      top: 54%;
      width: 100vw;
      max-height: 50%;
      border-radius: 0;
      background-color: darkslategray;
      margin: 0;
      left: 0;
    }
  
    .buttonsContainer {
      width: 100%;
      justify-content: space-between;
      gap: 5px;
    }
  
    .acceptButton {
      padding: 10px;
    }

    .buttonContainer{
      display: flex;  
    }

    .button{
      background: var(--orange-gradient) ;
    }
  }
  