#root{
    --black-transparent: rgba(0,0,0,0.5);
    --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
    --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
    --dark-text: #212427;
    --glass-style: {
        background-color: transparent;
        backdrop-filter: blur(20px);
        background-image: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.3),
            rgba(0,0,0, 0.2)
            );
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        padding: 1%;
    };
  }



.settingsList{

    overflow-y: scroll;
    scrollbar-width: none;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-color: darkslategray;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 1%;
}


.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.dataDisplayClosed{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4%;
}

.dataDisplayOpen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

.dataLinesClosed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.dataLinesOpen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 1%;
}

.editLineOpen{
    display: flex;
    width: 100%;
    gap: 1%;
}

.editLineClosed{
    display: flex;
    flex-direction: column;
}

.editBtn{
    width: 200px;
    background: linear-gradient(10deg, #e70909, #eb6565);
}

.editCountry{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pictureLine{
    display: flex;
    flex-direction: column;
}

.pictureP{
    display: flex;
    flex-direction: column;
}

.previewPicture{
    height: 200px;
    width: 200px;
    border-radius: 16px;
}

.btnContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 2%;
}

.buttonsContainer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.saveBtn{
    background: var(--green-gradient);
}

.cancelBtn{
    background: linear-gradient(10deg, #e70909, #eb6565);
}

.separator{
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 2% auto;
}

@media only screen and (max-width: 640px) {
    .settingsContainer {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  
    .settingsList {
      top: 54%;
      width: 100vw;
      max-height: 50%;
      left: 0;
      border-radius: 0;
      background-color: darkslategray;
    }

    .dataDisplayClosed{
        gap: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dataLinesClosed{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
    }

    .editCountry{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .editBtn{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(10deg, #e70909, #eb6565);
    }

    

    .buttonsContainer {
      justify-content: center;
      gap: 5px;
    }
  
    .acceptButton {
      padding: 10px;
    }

    .deleteAccountContainer{
        border: 20px dashed #ff6550;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
      }
  }

  @media only screen and (min-width: 641px){
    .settingsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 2%;
        margin-right: 2%;
      }
    
      .settingsList {
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        backdrop-filter: blur(20px);
        background-color: darkslategray;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      .dataDisplayClosed{
          gap: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
  
      .dataLinesClosed{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 30%;
      }
  
      .editCountry{
          display: flex;
          flex-direction: row;
          width: 100%;
      }
  
      .editBtn{
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(10deg, #e70909, #eb6565);
      }
  
      
  
      .buttonsContainer {
        justify-content: center;
        gap: 5px;
      }
    
      .acceptButton {
        padding: 10px;
      }
  
      .deleteAccountContainer{
          border: 20px dashed #ff6550;
          border-radius: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;  
          align-items: center;
        }

        h2{
            color: #edfa61;
            text-shadow: 2px 2px 5px rgba(82,14,63,1);
          }
  }