#root{
  --black-transparent: rgba(0,0,0,0.5);
  --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
  --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
  --dark-text: #212427;
}

.loader-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.no-books-found{
  width: 20%;
  height: 10%;
  background-color: darksalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 32px;
  border: 2px solid coral;
}

.navbar{
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0,0,0, 0.2)
  );
  border: 2px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 10%;
  position: fixed !important;
  top: 0;
  left: 0;
  display: flex;
  z-index: 5  ;
}

.navbar > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  list-style: none;
}

.navbar > ul > li{
  height: 70%;
  width: 10%;
  padding: 1%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.navbar > ul > li:hover{
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(0,0,0, 0.2),
    rgba(255, 255, 255, 0.3)
  );
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.categories-display{
width: 100vw;
margin-left: 1%;
margin-bottom: -5%;
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 10px;
}

.category-button{
  background-color: antiquewhite;
  color: black;
  padding: 3px;
  border-radius: 8px;
  display: flex;
  padding: 0;
  width: 250px;
  height: 70px;
}

.category-thumb{
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0,0,0, 0.2)
  );
  background-size: 10px 10px;
  width: 30%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.book-card{
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 16px;
}

.book-card:hover{
  box-shadow:
    0 0 15px 7px #fff,  /* inner white */
    0 0 25px 15px #fa0, 
    0 0 35px 20px #ff6a00; 
}

.card-info-background{
background-color: var(--black-transparent);
width: 95%;
padding-left: 5%;
cursor: pointer;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--black-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  overflow: hidden;
}

.book-view{
  height: 60%;
  width: 60%;
  max-width: 70%;
  background-color: white;
  color: var(--dark-text);
  border-radius: 32px;
  display: flex;
}

.close-button-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
}

.close-form-button{
  background-color: transparent;
  color: black;
}

.modal-book-image{
  width: 60%;
  height: 100% !important;
  border-radius: 32px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-book-info{
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.book-modal-description{
  text-wrap:wrap;
}

.operation-btn-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  gap: 10px;
}

.add-to-cart-btn{
  background: var(--orange-gradient);
}

.add-to-favs-btn{
  background: var(--green-gradient);
}

/*----------------QUANTITY PICKER----------------*/

.quantity-picker {
  display: inline-block;
  border:none;
  border-radius: 3px;
  vertical-align:middle;
}
.quantity-input:focus {
  background: red;
}

.quantity-modifier,
.quantity-display {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.quantity-modifier {
  height: 100%;
  width: 4rem;
  font-size: 1.5rem;
  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align:center;
  cursor: pointer;
}
.quantity-modifier:hover {
  background: var(--orange-gradient);
  color: var(--dark-text);
  font-weight: bolder;
  border-radius: 50%;
}

.quantity-modifier:focus {
  outline:0;
}

.left-modifier {
  border-radius: 50%;
}

.mod-disable {
  color:#E0E0E0;
}

.mod-disable:hover {
  background-color: #f3f3f3 !important;
  color:#E0E0E0;
}

.right-modifier {
  border-radius: 50%;
}

.quantity-display {
  width: 4rem;
  padding: .5rem;
  font-size: 1.5rem;
  border: 0;
  text-align: center;
  background-color: transparent;
  color: var(--dark-text);
  font-weight: bolder;
}

/*---------------------------SHOPPING CART--------------------------*/

.shopping-cart-card{
  background-color: white;
  color: var(--dark-text);
  margin: 2%;
  width: fit-content;
  height: fit-content;
  border-radius: 32px;
}

.shopping-cart-card > img {
  height: 400px;
  width: 280px;
  border-radius: 32px 32px 0 0;
}

.shopping-cart-display{
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.shoppingcart-card-info{
  margin-left: 2%;
}

.shoppingcart-card-bottom-container{
  display: flex;
  justify-content: space-between;
}

.remove-from-cart{
  color: var(--dark-text);
  border-radius: 40%;
  background-color: transparent;
}

.checkout-btn{
  

  height: 80px;
  background: var(--orange-gradient);
  right: 1%;
  bottom: 1%;
}

/*------------------------HOME-------------------------*/

.home-container{
  background-image: url('./assets/wallpaper.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/*-----------------------PROFILE-------------------------*/

.user-card{
  height: 20%;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0,0,0, 0.2)
  );
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
}

.user-card > img {
  border-radius: 16px;
}

.tabs{
  margin-top: 0;
}

.tabs li { 
  float: left; 
  position: relative; 
}

.tabs span { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  padding: 10px 40px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: black;
  background: #ddc385; 
  
  /* Only round the top corners */
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; 
}

.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}

.tabs .active span { 
  /* Colors when tab is active */
  background: white; 
  color: black; 
}

.tabs li:before, .tabs li:after, 
.tabs li span:before, .tabs li span:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}

.tabs li:last-child:after,   .tabs li:last-child span:after,
.tabs li:first-child:before, .tabs li:first-child span:before,
.tabs .active:after,   .tabs .active:before, 
.tabs .active span:after, .tabs .active span:before {
  content: "";
}

.tabs .active:before, .tabs .active:after {
  background: white; 
  
  /* Squares below circles */
  z-index: 1;
}

.tabs li:before, .tabs li:after {
  background: #ddc385;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;      
}
.tabs li:after { 
  right: -10px;
}

.tabs li a:after, .tabs li span:before {
  width: 20px; 
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background: #222;
  
  /* Circles over squares */
  z-index: 2;
}

.tabs .active a:after, .tabs .active span:before {
  background: #ddc385;
}

.tabs li:first-child.active span:before,
.tabs li:last-child.active span:after {
  background: #222;
}

.tabs li span:before {
  left: -20px;
}
.tabs li span:after {
  right: -20px;
}