#root{
  --black-transparent: rgba(0,0,0,0.5);
  --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
  --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
  --dark-text: #212427;
}

.loader-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.no-books-found{
  width: 20%;
  height: 10%;
  background-color: darksalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 32px;
  border: 2px solid coral;
}






/*----------------QUANTITY PICKER----------------*/

.quantity-picker {
  display: inline-block;
  border:none;
  border-radius: 3px;
  vertical-align:middle;
}
.quantity-input:focus {
  background: red;
}

.quantity-modifier,
.quantity-display {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.quantity-modifier {
  height: 100%;
  width: 4rem;
  font-size: 1.5rem;
  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align:center;
  cursor: pointer;
}
.quantity-modifier:hover {
  background: var(--orange-gradient);
  color: var(--dark-text);
  font-weight: bolder;
  border-radius: 50%;
}

.quantity-modifier:focus {
  outline:0;
}

.left-modifier {
  border-radius: 50%;
}

.mod-disable {
  color:#E0E0E0;
}

.mod-disable:hover {
  background-color: #f3f3f3 !important;
  color:#E0E0E0;
}

.right-modifier {
  border-radius: 50%;
}

.quantity-display {
  width: 4rem;
  padding: .5rem;
  font-size: 1.5rem;
  border: 0;
  text-align: center;
  background-color: transparent;
  color: var(--dark-text);
  font-weight: bolder;
}

#gsi_404350_761786{
  background-color: green;
}

/*---------------------------SHOPPING CART--------------------------*/


/*------------------------HOME-------------------------*/



/*-----------------------PROFILE-------------------------*/


